backports.entry-points-selectable==1.1.1
bitstring==3.1.9
cffi==1.15.0
click==8.0.3
cryptography==36.0.1
distlib==0.3.3
ecdsa==0.17.0
esptool==3.2
filelock==3.4.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
platformdirs==2.4.0
pycparser==2.21
pyserial==3.5
reedsolo==1.5.4
six==1.16.0
SQLAlchemy==1.4.27
virtualenv==20.10.0
Werkzeug==2.0.2
