{% extends 'base.html' %}

{% block head %}
 <!-- Favicons -->
 <!-- <link href="assets/img/favicon.png" rel="icon">
 <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
 <title>BIG BRAIN</title>
{% endblock %}

{% block body %}
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center" style="height: 1px; background-color: white;"></section>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="/">Big Brain<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to <span>Big Brain</span></h1>
    <h2>Intelligent and considerable home applications for you.</h2>
    <div class="d-flex">
      <a href="/light_html" class="btn-get-started scrollto">Get Started</a>
      <a href="https://youtu.be/5SsemJGQ9XE" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-cpu"></i></div>
            <h4 class="title"><a href="">Real-Time Operating System</a></h4>
            <p class="description">Multitasking maximizes CPU utilization and makes applications modular.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-cloud-arrow-up"></i></div>
            <h4 class="title"><a href="">HyperText Transfer Protocol</a></h4>
            <p class="description">HTTP is the basis for data communication on the World Wide Web.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-display"></i></div>
            <h4 class="title"><a href="">Responsive Web Design</a></h4>
            <p class="description">Allow different devices to browse the same website normally, providing the best visual experience</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-wifi"></i></div>
            <h4 class="title"><a href="">Wi-Fi</a></h4>
            <p class="description">Allows you to use a smartphone or computer to access the Internet through a wireless connection.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>We are a team composed of a group of senior high school students and an advisor.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="https://upload.cc/i1/2022/01/12/obD9rM.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>In order to enjoy a better quality of life, we came up with this idea.</h3>
          <ul>
            <li>
              <i class="bi bi-people"></i>
              <div>
                <h5>Easy control</h5>
                <p>We want it to be so easily to controled that everyone can use it.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-cursor"></i>
              <div>
                <h5>Control everywhere</h5>
                <p>We hope we can control it even when we are outside</p>
              </div>
            </li>
          </ul>
          <p>
            You are lazily lying on the sofa in warm weather and don't want to get up, but suddenly there is a sunshine beaming on your face.
            You want to change the atmosphere at home, but only have the traditional light bulb makes you worried.
            Big Brain is your best choice.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container" data-aos="zoom-in">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="https://upload.cc/i1/2021/12/31/6bmAzi.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="https://upload.cc/i1/2021/12/31/lyBunL.png" class="img-fluid my-img" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="https://upload.cc/i1/2021/12/31/cS5wqD.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="https://upload.cc/i1/2021/12/31/9LEB7F.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="https://upload.cc/i1/2021/12/31/LZhGIu.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="https://upload.cc/i1/2022/01/09/p0O75M.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Portfolio</h2>
        <h3>Check our <span>Portfolio</span></h3>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Light</li>
            <li data-filter=".filter-card">Curtain</li>
            <li data-filter=".filter-web">Future</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="https://upload.cc/i1/2022/01/09/xpot2l.jpeg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Light 1</h4>
            <p>Light</p>
            <a href="https://upload.cc/i1/2022/01/09/xpot2l.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="https://attach.mobile01.com/attach/201710/mobile01-60f908ac40e1d34e6c013c52f9cdb3f6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Future 1</h4>
            <p>Air conditioner</p>
            <a href="https://attach.mobile01.com/attach/201710/mobile01-60f908ac40e1d34e6c013c52f9cdb3f6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="https://upload.cc/i1/2022/01/09/qPTKnB.jpeg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Light 2</h4>
            <p>Light</p>
            <a href="https://upload.cc/i1/2022/01/11/xAN3br.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="https://upload.cc/i1/2022/01/11/mf1RWw.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Curtain 2</h4>
            <p>Curtain</p>
            <a href="https://upload.cc/i1/2022/01/11/mf1RWw.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="https://upload.cc/i1/2022/01/11/BXznuf.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Curtain 3</h4>
            <p>Curtain</p>
            <a href="https://upload.cc/i1/2022/01/11/BXznuf.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>
        

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="https://upload.cc/i1/2022/01/11/xAN3br.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Light 3</h4>
            <p>Light</p>
            <a href="https://upload.cc/i1/2022/01/09/qPTKnB.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="https://upload.cc/i1/2022/01/11/mXorPw.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Curtain 1</h4>
            <p>Curtain</p>
            <a href="https://upload.cc/i1/2022/01/11/mXorPw.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcR-20kNl-ri8TtpsoFE5cZSRTOmyR4Wv6W_anbymQXfcxOEGjcJ3u7iKacKJR3XoDXgsy3u7wjji5IbsT-UcIY" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Future 2</h4>
            <p>Dehumidifier</p>
            <a href="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcR-20kNl-ri8TtpsoFE5cZSRTOmyR4Wv6W_anbymQXfcxOEGjcJ3u7iKacKJR3XoDXgsy3u7wjji5IbsT-UcIY" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcT0TmJ61wAOeOZ3eh2mh4UBfUBZE22pHAYZClb1AYfwvwcSlAdjGmQhDALj2S7aZ5ZOPidK021vg4rax7Q0AYw" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Future 3</h4>
            <p>Refrigerator</p>
            <a href="http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcT0TmJ61wAOeOZ3eh2mh4UBfUBZE22pHAYZClb1AYfwvwcSlAdjGmQhDALj2S7aZ5ZOPidK021vg4rax7Q0AYw" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bi bi-plus-lg"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <h3>Our Hardworking <span><a href="https://www.facebook.com/profile.php?id=100002579834644">Team</a></span></h3>
        <p>We spent half a year to complete this special project.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="https://upload.cc/i1/2022/01/10/m8IkTS.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Zhe-Wei Tsai</h4>
              <span>PG＆Ul</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="https://upload.cc/i1/2022/01/06/7zPZ4y.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Cheng-Rong Tsai</h4>
              <span>Speaker</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="https://upload.cc/i1/2022/01/06/7UxIWe.jpeg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Ye-Cheng Xu</h4>
              <span>ME</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="https://upload.cc/i1/2021/12/31/ohZPNl.png" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Song-Yu Lin</h4>
              <span>Advisor</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

</main><!-- End #main -->
<footer id="footer" style="background-color: white;">

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>BigBrain</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
      Designed by <a href="#">BigBrain</a>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
