{% extends 'base.html' %}

{% block head %}
<title>BIG BRAIN LIGHT</title>

<link rel="stylesheet" href="{{ url_for('static', filename='slider_rgb.css') }}">
{% endblock %}

{% block body %}
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="/">Big Brain<span>.</span></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="#">LIGHT</a></li>
        <li><a class="nav-link" href="/curtain_html">CURTAIN</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->


  </div>
</header><!-- End Header -->

<main>
  <div class="container py-4" data-aos="zoom-out" data-aos-delay="100">
    <div class="py-3 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Atmosphere Light</h1>
        <p class="col-md-8 fs-4">Create a unique style, create the ultimate elegance in your home, and make your life change.</p>
        <br>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="brightness">
              <div class="range-input" style="padding-left: 0px;">
              <input type="range" min="0" max="255" value="{{brightness}}" step="1">
              <div class="value">
                <div>{{brightness}}</div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4" style="margin-top: 10px;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary" id="open">ON</button>
              <button type="button" class="btn btn-outline-secondary" id="close">OFF</button>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-4 text-white bg-dark rounded-3">
          <h2>Change the color</h2>
          <p>Change the value of rgb to change the color.</p>
          <br>
          <div class="red">
            <div class="range-input">
            <input type="range" min="0" max="255" value="{{red}}" step="1">
            <div class="value">
              <div>{{red}}</div>
            </div>
            </div>
          </div>
          <div class="green">
            <div class="range-input">
            <input type="range" min="0" max="255" value="{{green}}" step="1">
            <div class="value">
              <div>{{green}}</div>
            </div>
            </div>
          </div>
          <div class="blue">
            <div class="range-input">
            <input type="range" min="0" max="255" value="{{blue}}" step="1">
            <div class="value">
              <div>{{blue}}</div>
            </div>
            </div>
          </div>
          
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-4 bg-light border rounded-3">
          <h2>Mode</h2>
          <p>Choose the mode to make atmosphere better.</p>
          <div class="row mt-5">
            <div class="col-6">
              <button class="btn btn-outline-secondary" type="button" id="party">Party</button>
            </div>
            <div class="col-6">
              <button class="btn btn-outline-secondary" type="button" id="sleep">Sleep</button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="btn btn-outline-secondary" type="button" id="study">Study</button>
            </div>
            <div class="col-6">
              <button class="btn btn-outline-secondary" type="button" id="relax">Relax</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
  </div>
</main>


<script src="{{ url_for('static', filename='script_light.js') }}"></script>

{% endblock %}